{% extends 'Base.html'%}
{% block content%}
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

    {% endfor %}

{% endif %}
{%load static%}



<div style="background-image:  url('/media/voting.webp'); background-repeat:no-repeat;background-size:cover;  height:658px; width:100%;">
    <h2>Change Password</h2>
    <form class="row g-3" method="POST" action="/change_password/" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="container">
        <div class="mb-3">
             <label for="formGroupExampleInput" class="form-label">ID</label>
                <input type="text" class="form-control" id="updateid" name="updateid" required value="{{user_id}}" readonly>
        </div>
        <div class="mb-3">
             <label for="formGroupExampleInput" class="form-label">New Password</label>
                <input type="text" class="form-control" id="updatepassword" name="updatepassword" required>
        </div>
         <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Confirm Password</label>
            <input type="text" class="form-control" id="updateconfirm_password" name="updateconfirm_password" required>
        </div>
        <div class="col-md-12 mb-3" style="display:flex;justify-content: center;align-items: center;">
            <input type="submit" name="" value="Update" class="btn btn-secondary">
        </div>

    </div>
</form>
</div>

{%endblock%}