{% extends 'Base.html'%}
    {% block content%}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
    {%load static%}



<div style="background-image:  url('/media/home.jpg'); background-repeat:no-repeat;background-size:cover;  height:687px; width:100%;">
    <h1>Candidate Management</h1>

    <div class="container">

        <div style="display:flex;justify-content: right;align-items: right;">
            <form action="" method="POST" enctype="multipart/form-data">
                <a class="btn btn-warning" href="/Add_Candidates/">Add Candidates</a>
            </form>
        </div>

        <br>
        <table class="table table-dark table-hover table-stripped">
            <thead>
                    <th>ID</th>
                    <th>Candidate Name</th>
                    <th style="text-align: center;" colspan="3">Action</th>
                      
            </thead>

            <tbody>
               {%for i in details%}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.candidate_name}}</td>

                    <td><input type="button" class="btn btn-info "id=" {{i.id}}
                                                            ${{i.candidate_name}}
                                                            ${{i.age}}
                                                            ${{i.gender}}
                                                            ${{i.political_party}}
                                                            ${{i.caste}}
                                                            ${{i.Address}}
                                                            ${{i.election_name}}"
                             value="View" onclick="View(this)" style="width: 100%;">
                    </td>

                    <td><input type="button" class="btn btn-secondary "id=" {{i.id}}
                                                            ${{i.candidate_name}}
                                                            ${{i.age}}
                                                            ${{i.gender}}
                                                            ${{i.political_party}}
                                                            ${{i.caste}}
                                                            ${{i.Address}}
                                                            ${{i.election_name}}"
                             value="Update" onclick="Update(this)" style="width: 100%;">
                    </td>
                    <td><a style="width: 100%;" class="button btn btn-danger" href="/delete_candidates/{{i.id}}">Delete</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

    <!-- Modal to view Doctor -->

    <!-- Modal for view button -->
<!-- View Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Candidate Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
             <div class="container">
        <form class="row g-3" method="POST" action="/View_candidates/" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="col-md-6">
                    <label  class="form-label">ID</label>
                    <input type="text" class="form-control" name="id" id="id"  readonly>
              </div>

              <div class="col-md-6">
                    <label  class="form-label">Candidate Name</label>
                    <input type="text" class="form-control" name="candidate_name" id="candidate_name"  readonly>
              </div>

              <div class="col-md-6">
                    <label for="inputCity" class="form-label">Candidate Age</label>
                    <input type="text" class="form-control" id="age" name="age"   readonly>
              </div>
              <br>
              <div class="col-md-12">
                <label for="inputState" class="form-label">Gender</label>
                <input class="form-control" type="text" name="gender" id="gender" readonly >
              </div>
                <!-- <input class="form-control" type="text" name="Speciality" id="Speciality" readonly > -->
              </div>

              <div class="col-md-12">
                    <label for="inputZip" class="form-label">political_party</label>
                    <input class="form-control" name="political_party" id="political_party" type="text" readonly>
              </div>
              <div class="col-md-12">
                    <label for="inputZip" class="form-label">Caste</label>
                    <input class="form-control" name="state" id="caste" type="caste" readonly>
              </div>
              <div class="col-md-12">
                    <label for="inputZip" class="form-label">Address</label>
                    <input class="form-control" name="state" id="Address" type="Address" readonly>
              </div>
              <div class="col-md-12">
                    <label for="inputZip" class="form-label">Type_of_Election</label>
                    <input class="form-control" name="e_name" id="e_name" type="Address" readonly>
              </div>


              
        </form>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- ---------------------------------------------------------------------------------------------------------------------- -->

<!-- Modal For Update -->
<div class="modal fade" id="myModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Candidate Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
             <div class="container">
        <form class="row g-3" method="POST" action="/Update_candidates/" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="col-md-6">
                    <label  class="form-label">ID</label>
                    <input type="text" class="form-control" name="1updateid" id="1updateid" >
              </div>

               <div class="col-md-6">
                    <label  class="form-label">Candidate Name</label>
                    <input type="text" class="form-control" name="1updatecandidate_name" id="1updatecandidate_name"  >
              </div>

              <div class="col-md-6">
                    <label for="inputCity" class="form-label">Candidate Age</label>
                    <input type="text" class="form-control" id="1updateage" name="1updateage"  >
              </div>
              <br>
              <div class="col-md-12">
                <label for="inputState" class="form-label">Gender</label>
                <input class="form-control" type="text" name="1updategender" id="1updategender"  >
              </div>
              <div class="col-md-12">
                    <label for="inputZip" class="form-label">political_party </label>
                    <input class="form-control" name="1updatepolitical_party" id="1updatepolitical_party" type="text" >
              </div>
              <div class="col-md-12">
                    <label for="inputZip" class="form-label">Caste</label>
                    <input class="form-control" name="1updatecaste" id="1updatecaste" type="text" >
              </div>
              <div class="col-md-12">
                    <label for="inputZip" class="form-label">Address</label>
                    <input class="form-control" name="1updateAddress" id="1updateAddress" type="text" >
              </div>
              <div class="col-md-12">
                    <label class="form-label">Election Name</label>
                    <select class="form-select" aria-label="Default select example" id="e_name" name="e_name">
                    <option selected id="1update_e_name"></option>
                    {% for i in data%}
                        <option  value="{{i.election_name}}"    name = "1update_e_name"> {{i.election_name}}</option>
                    {% endfor %}
                    </select>
              </div>



              <div class="col-md-12 mb-3" style="display:flex;justify-content: center;align-items: center;">
                  <input type="submit" name="" value="Update" class="btn btn-secondary">
              </div>

              
        </form>
    </div>
      </div>
    </div>
  </div>
</div>
<!-- ---------------------------------------------------------------------------------------------------------------------- -->


</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">

    function View(me){
        var id                  = me.id;
        var str                 = id.split("$");
        var ids                 = str[0];
        var candidate_name      = str[1];
        var age                 = str[2];
        var gender              = str[3];
        var political_party     = str[4];
        var caste               = str[5];
        var Address             = str[6];
        var election_name       = str[7];
       

        document.getElementById("id").value                       = ids;
        document.getElementById("candidate_name").value           = candidate_name;
        document.getElementById("age").value                      = age;
        document.getElementById("gender").value                   = gender;
        document.getElementById("political_party").value          = political_party;
        document.getElementById("caste").value                    = caste;
        document.getElementById("Address").value                  = Address;
        document.getElementById("e_name").value                   = election_name;
        $('#myModal1').modal('show');
    }


    function Update(me){
        var id                  = me.id;
        var str                 = id.split("$");
        var ids                 = str[0];
        var candidate_name      = str[1];
        var age                 = str[2];
        var gender              = str[3];
        var political_party     = str[4];
        var caste               = str[5];
        var Address             = str[6];
        var election_name       = str[7];
       

        document.getElementById("1updateid").value                      = ids;
        document.getElementById("1updatecandidate_name").value          = candidate_name;
        document.getElementById("1updateage").value                     = age;
        document.getElementById("1updategender").value                  = gender;
        document.getElementById("1updatepolitical_party").value         = political_party;
        document.getElementById("1updatecaste").value                   = caste;
        document.getElementById("1updateAddress").value                 = Address;
        document.getElementById("1update_e_name").innerHTML             =election_name;
        $('#myModal2').modal('show');
    }






  

    </script>

{%endblock%}