{% extends 'Base.html'%}
{% block content%}
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

    {% endfor %}

{% endif %}
{%load static%}



<div style="background-image:  url('/media/voting.webp'); background-repeat:no-repeat;background-size:cover;  height:658px; width:100%;">
    <h2>Home</h2>
     <div class="container">
        <table class="table table-dark table-hover table-stripped">
            <thead>
                <th>Id</th>
                <th>Election Name</th>
                <th>Election Category</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Election Commision</th>
                <th>State</th>
            </thead>

            <tbody>
                {%for i in details%}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.election_name}}</td>
                    <td>{{i.election_category}}</td>
                    <td>{{i.start_date}}</td>
                    <td>{{i.end_date}}</td>
                    <td>{{i.election_commission}}</td>
                    <th>{{i.state}}</th>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

{%endblock%}

